[submodule "themes/zozo"]
	path = themes/zozo
	url = https://github.com/varkai/hugo-theme-zozo
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
[submodule "themes/DoIt"]
	path = themes/DoIt
	url = https://github.com/HEIGE-PCloud/DoIt.git
