figure.floatright, image.floatright {
	float: right;
	max-width: 30%;
}

figure.floatleft, image.floatleft {
	float: left;
	max-width: 30%;
}

.content p {
	text-indent: 2em;
}

.single .content code {
	display: inline;
}


// .single .content blockquote {
// 	display: inherit;
// }