figure.floatright, img.floatright {
	float: right;
	max-width: 30%;
}

figure.floatleft, img.floatleft {
	float: left;
	max-width: 30%;
}

.content li p {
	text-indent: 0em;
}

.content p {
	text-indent: 2em;
}



.single .content code {
	display: inline;
}


// .single .content blockquote {
// 	display: inherit;
// }