figure.floatright, image.floatright {
	float: right;
}

figure.floatleft, image.floatleft {
	float: left;
}

.content p {
	text-indent: 2em;
}

.single .content code {
	display: inline;
}


.single .content blockquote {
	display: inherit;
}